<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .main{
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .calc{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .calc div {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>Junan's Calculator</h1>
        <form action=""></form>
        </div>
    </div>
</body>

</html>